<!DOCTYPE html>
<html>
<head>
    <title>Current Cricket Matches</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Current Cricket Matches</h1>
    {% if matches %}
        <ul>
            {% for match in matches %}
                <li>
                    <span>{{ match['name'] }}</span>
                    <span>vs</span>
                    <span>{{ match['status'] }}</span>
                    <span>({{ match['venue'] }})</span>
					<span>({{ match['date'] }})</span>
                    {% if match['score'] %}
                        <span>{{ match['score'] }}</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No current matches.</p>
    {% endif %}
</body>
</html>
