<!DOCTYPE html>
<html>
<head>
    <title>Score Board</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Crick Scores</h1>
    {% if matches %}
        <ul>
            {% for match in matches %}
                <li>
                    <span>{{ match['name'] }}</span>
                    <span>{{ match['matchType'] }}</span>
                    <span>({{ match['ms'] }})</span>
                    <span>({{ match['date'] }})</span>
                    <span>{{ match['status'] }}</span>
                    <span>({{ match['score'] }})</span>					
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No Match Data available now, we will fix the issue soon.</p>
    {% endif %}
</body>
</html>
